<!-- ========= Collections Page ========= -->

<div id="header-container">

</div>

<!-- ========================================== Hero ========================================== -->

  <div class="small-hero hero products-hero">

    <div class="hero-background w-100 h-100 d-flex flex-column justify-content-end">
      <div>
        <svg class="waves-wv" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave-wv" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>

          <g class="parallax-wv">
            <use xlink:href="#gentle-wave-wv" x="48" y="0"  />
            <use xlink:href="#gentle-wave-wv" x="48" y="3" />
            <use xlink:href="#gentle-wave-wv" x="48" y="5"  />
            <use xlink:href="#gentle-wave-wv" x="48" y="7"  />
          </g>
        </svg>
        <div class="filler-wv">

        </div>
      </div>
    </div>
  </div>


  <!-- ========================================== Heading ========================================== -->

  <section class="pt-4">
    <div class="container">
        <div class="row mt-5">
          <div class="col-lg-5 px-5 mb-5">
            <h1 class="display-4 mb-3">{{ name }}</h1>
            <p>
              {{ description }}
            </p>
          </div>
        </div>
    </div>
  </section>


  <!-- ========================================== Products ========================================== -->

  <section>
    <div class="container">
        <div class="row">
          <div class="col-sm px-5 mb-5 d-flex flex-wrap w-100">
            <div id="products-list"></div>
          </div>
        </div>
    </div>
  </section>


  <!-- ========================================== All Products ========================================== -->

  <section class="pt-5">
    <div class="container py-5">
      <div class="row align-items-center pb-xl-5">
        <div class="col-md mr-md-5">
          <h2 class="font-weight-normal pb-2">See All of Our Products</h2>
          <button class="btn bg-dark text-white shadow">Take Me There</button>
        </div>
      </div>
    </div>
  </section>
