<!-- ========================================== Header ========================================== -->
<header class="fixed-top">
<div class="container-fluid bg-white">
  <nav class="navbar navbar-expand-md navbar-light p-3">
    <a class="navbar-brand logo-brand" href="#">TeaHome</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav3">
      <ul class="navbar-nav ml-auto" id="main-nav">

      </ul>
      <a class="btn btn-outline-dark ml-md-3 cart-btn" href="#cart">Cart<span id="favs-count" class="badge badge-danger"></span></a>
    </div>
  </nav>
</div>
</header>
