<!-- ========================================== admin ========================================== -->
<section class="w-100">
<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
    <a class="text-muted">Admin Controls</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav2">
      <ul class="navbar-nav ml-auto" id="admin-controls">
        <li class="nav-item">
          <a class="nav-link disabled">No Controls Available</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</section>
