<!-- ========= Sign In ========= -->


<div id="header-container">

</div>

  <!-- ========================================== Heading ========================================== -->

  <section class="pt-4 mt-5">
    <div class="container">
        <div class="row mt-5">
          <div class="col-lg-5 px-5">
            <h1 class="display-4 mb-3">Sign In</h1>
            <p>
              Please sign into your account, or create one <a href="#signUp">here</a>.
            </p>
          </div>
        </div>
    </div>
  </section>

  <!-- ========================================== Form ========================================== -->

  <section class="">
    <div class="container">
        <div class="row">
          <div class="col-lg-5 px-5 mb-5">
            <form action="" method="post" id="form-sign-in" class="mt-4 max-width-form inline-form">
              <div class="field form-group">
                <input type="email" name="email" placeholder="Email" class="form-control">
              </div>
              <div class="field form-group">
                <input type="password" name="pass" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-dark">Sign In</button>
            </form>
          </div>
        </div>
    </div>
  </section>

  <!-- ========================================== Footer ========================================== -->

  <!-- fix for the footer bug -->
  <div class="flex-grow-1"></div>
  <footer class="p-3" id="footer-container"></footer>
