
<!-- ========================================== Footer ========================================== -->

  <div class="container-fluid py-3">
    <div class="row align-items-start">
      <div class="col-md mb-md-0 mb-5">
        <a class="navbar-brand logo-brand text-dark pt-0" href="#">TeaHome</a>
        <p class="text-muted">We make excellent tea for you to enjoy</p>
        <a href="#products">
          <button class="btn btn-outline-dark mt-3">See Our Products</button>
        </a>
      </div>
      <div class="col-md-3 mt-md-1 mb-md-0 mb-2">
        <h6>Contact Details</h6>
        <p class="text-muted">
          Visit us at 123 Fake Street, Burgensburg.<br>
          Our office is currently closed
        </p>
        <p class="text-muted">
          Looking for more? <a href="https://westbrookdaniel.com/" target="_blank"><u>Try this</u></a>
        </p>
      </div>
    </div>
  </div>
