<!-- ========= Products Page ========= -->

<div id="header-container">

</div>

<!-- ========================================== Hero ========================================== -->

  <div class="small-hero hero products-hero">

    <div class="hero-background w-100 h-100 d-flex flex-column justify-content-end">
      <div>
        <svg class="waves-wv" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave-wv" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>

          <g class="parallax-wv">
            <use xlink:href="#gentle-wave-wv" x="48" y="0"  />
            <use xlink:href="#gentle-wave-wv" x="48" y="3" />
            <use xlink:href="#gentle-wave-wv" x="48" y="5"  />
            <use xlink:href="#gentle-wave-wv" x="48" y="7"  />
          </g>
        </svg>
        <div class="filler-wv">

        </div>
      </div>
    </div>
  </div>


  <!-- ========================================== Heading ========================================== -->

  <section class="pt-4">
    <div class="container">
        <div class="row mt-5">
          <div class="col-lg-9 px-5 mb-5">
            <h1 class="display-4 mb-3">All Our Teas</h1>
            <p>
              View the complete list of our teas. All made in Australia by hand. Limited quantity is avalible so get them while you can!
            </p>
          </div>
        </div>
    </div>
  </section>


  <!-- ========================================== Products ========================================== -->

  <section class="mb-5">
    <div class="container">
        <div class="row">
          <div class="col-sm px-5 mb-5 d-flex flex-wrap w-100">
            <div id="products-list-filters" class="d-flex flex-wrap w-100 justify-content-start mb-5"></div>
            <div id="products-list"></div>
          </div>
        </div>
    </div>
  </section>
