<!-- ========= Favourites Page ========= -->
<div id="header-container">

</div>

  <!-- ========================================== Heading ========================================== -->

  <section class="pt-4 mt-5">
    <div class="container">
        <div class="row mt-5">
          <div class="col-lg-5 px-5">
            <h1 class="display-4 mb-3">Your Cart</h1>
            <p class="text-muted">Our products are very limited. You may only purchase one of each product.</p>
          </div>
        </div>
    </div>
  </section>

  <!-- ========================================== Cart ========================================== -->

  <section class="mt-5">
    <div class="container">
        <div class="row">
          <div class="col-sm px-5 mb-5 d-flex flex-wrap w-100">
            <div id="products-list"></div>
          </div>
        </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
        <div class="row">
          <div class="col-sm px-5 mb-5">
            <p class="pb-0 mb-1">Subtotal</p>
            <h2 class="mt-0 mb-4">$<span class="cart-subtotal-value">0.00</span></h2>
            <button class="btn btn-dark cart-checkout">Checkout</button>
          </div>
        </div>
    </div>
  </section>
