<!-- ========= Sign Up ========= -->

<div id="header-container">

</div>

  <!-- ========================================== Heading ========================================== -->

  <section class="pt-4 mt-5">
    <div class="container">
        <div class="row mt-5">
          <div class="col-lg-5 px-5">
            <h1 class="display-4 mb-3">Sign Up</h1>
            <p>
              Enter your details to create a new account, or sign into an existing one <a href="#signIn">here</a>.
            </p>
          </div>
        </div>
    </div>
  </section>

  <!-- ========================================== Form ========================================== -->

  <section class="">
    <div class="container">
        <div class="row">
          <div class="col-lg-5 px-5 mb-5">
            <form action="" method="post" id="form-sign-up" class="mt-4 max-width-form inline-form">
              <div class="field form-group">
                <input type="text" name="first_name" placeholder="First Name" class="form-control">
              </div>
              <div class="field form-group">
                <input type="text" name="last_name" placeholder="Last Name" class="form-control">
              </div>
              <div class="field form-group">
                <input type="email" name="email" placeholder="Email" class="form-control">
              </div>
              <div class="field form-group">
                <input type="password" name="pass" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-dark">Sign Up</button>

              <div class="field form-group mt-5">
                <label class="col-form-label col-form-label-sm text-muted">Are you an admin? Write your admin password here</label>
                <input type="password" name="adminAuth" placeholder="Admin Password" class="form-control px-3 form-control-sm">
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
